<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send SMS</title>
</head>
<body>
   <form action="/send" method="post">
    <div class="form-group">
        <label for="num">Number</label>
        <input type="text" name="number" id="num">
    </div>
        <div class="form-group">
            <label for="msg">message</label>
            <input type="text" name="message" id="msg">
            <Br></Br>
        <input type="submit" value="Send msg">
        </div>
   </form>
    
</body>
</html>